<!-- UploadModal -->
<div class="modal fade" id="UploadModal" tabindex="-1" aria-labelledby="UploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="UploadModalLabel">上傳教材</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mb-3">將欲上傳之教材拖曳至下方框框中：</p>
                <div class="file-loading">
                    <input id="file" name="post_file" type="file" accept="pdf" required>
                </div>
            </div>
        </div>
    </div>
</div>

