<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @* 設定OG相關資訊 *@
    <meta property="og:title" content="LMSWeb 3.0" />
    <meta property="og:description" content="生成式AI輔助學習系統" />
    <meta property="og:image" content="https://www.lmswebbydblab.com/LMSweb_v3/icon.ico" />

    <title>LMSWeb3.0</title>
    <link rel="stylesheet" href="~/css/dialogue.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
</head>
<body>
    @RenderBody()
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
